<ion-header>
    <ion-navbar>
        <ion-title>管理員登入</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <img src="assets/imgs/icon.png" id="icon" />

    <ion-list no-lines *ngIf="!logged">
        <ion-item>
            <ion-label floating>帳號</ion-label>
            <ion-input type="email" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>密碼</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <div class="errorMessage" *ngIf="!logged">{{errorMessage}}</div>
    <div padding *ngIf="!logged">
        <button ion-button color="primary" block (click)="signIn(username, password)">登入</button>
    </div>

    <ion-list no-lines *ngIf="logged">
        <ion-item>
            <ion-avatar>管理者</ion-avatar>
            <p>{{(admin)?.member.name}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>權限</ion-avatar>
            <p>{{((admin)?.role == "manager") ? "manager" : "staff"}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar>電子郵件</ion-avatar>
            <p>{{(admin)?.member.email}}</p>
        </ion-item>
        <button ion-button round color="danger" block (click)="signOut()">登出</button>
        <button ion-button round color="secondary" block (click)="resetPassword()">修改密碼</button>
    </ion-list>
</ion-content>