<ion-header>
    <ion-navbar>
        <ion-title>成員管理</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list inset *ngIf="logged">
        <ion-item *ngFor="let user of users" [navPush]="memberDetailPage" [navParams]="user.lineId">
            <ion-avatar item-start>
                <ion-icon name="contact" color="primary"></ion-icon>
            </ion-avatar>
            <h2>{{user.member.name}}</h2>
            <p>{{user.member.email}}</p>
            <p>{{user.lineId}}</p>
        </ion-item>
    </ion-list>

    <div *ngIf="!logged" id="hint" text-center>
        <ion-card>
            <ion-card-header>
                <img src="assets/imgs/icon.png" style="width: 50%; display: block; margin-left: auto; margin-right: auto"/>
                <h1>Welcome</h1>
            </ion-card-header>
            <ion-card-content>
                <p>智能跑步幫手 管理App</p>
                <p>請點擊【設定】選單</p>
                <p>完成登入手續</p>
                <p>以開啟管理功能</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>