<ion-header>
    <ion-navbar>
        <ion-title>發送公告</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <ion-list *ngIf="logged">
        <ion-item *ngFor="let admin of admins">
            <ion-avatar item-start>
                <ion-icon name="contact" color="primary"></ion-icon>
            </ion-avatar>
            <h2>{{admin.member.name}}</h2>
            <p>公告次數：{{admin.chatCount?.postCount || 0}}</p>
        </ion-item>
    </ion-list>

    <div *ngIf="logged && (admin)?.role == 'manager'">
        <ion-textarea rows="2" [(ngModel)]="postMessage" [ngModelOptions]="{standalone: true}" placeholder="請輸入訊息"></ion-textarea>
        <ion-icon name="send" (click)="sendPostMessage()" style="color:firebrick"></ion-icon>
    </div>

    <div *ngIf="logged && (admin)?.role == 'staff'" text-left>
                    <ion-card>
                        <ion-card-header>
                            <ion-icon name="warning" (click)="sendPostMessage()" style="color:firebrick"><h2 style="color:firebrick">權限不足</h2></ion-icon>
                        </ion-card-header>
                        <ion-card-content>
                            <p>您目前只是staff</p>
                            <p>要升值/加薪</p>
                            <p>請找manager</p>
                        </ion-card-content>
                    </ion-card>
    </div>

    <div *ngIf="!logged" id="hint" text-center>
            <ion-card>
                <ion-card-header>
                    <img src="assets/imgs/icon.png" style="width: 50%; display: block; margin-left: auto; margin-right: auto"/>
                    <h1>Welcome</h1>
                </ion-card-header>
                <ion-card-content>
                    <p>智能跑步幫手 管理App</p>
                    <p>請點擊【設定】選單</p>
                    <p>完成登入手續</p>
                    <p>以開啟管理功能</p>
                </ion-card-content>
            </ion-card>
    </div>
</ion-content>